/clases/2clase2/nbproject/private/
/clases/2clase2/build/
/clases/2clase3/nbproject/private/
/clases/2clase3/build/
/practicas/Nueva Carpeta/2ejercicio1/nbproject/private/
/practicas/Nueva Carpeta/2ejercicio1/build/
/practicas/2ejercicio2/nbproject/private/
/clases/2clase5/nbproject/private/
/clases/2clase5/build/
/practicas/Nueva Carpeta (2)/switch/nbproject/private/
/2clase8/nbproject/private/
/2clase8/build/
/practicas/Nueva Carpeta/2ejercicio3y4/nbproject/private/
/practicas/Nueva Carpeta/2ejercicio3y4/build/
/practicas/2ejercicio3y4/2ejercicio3y4/build/
/practicas/2ejercicio3y4/2ejercicio3y4/nbproject/private/
/practicas/Nueva Carpeta/2ejercicio5/nbproject/private/
/practicas/Nueva Carpeta/2ejercicio5/build/
/practicas/Nueva Carpeta (2)/2ejercicio6/nbproject/private/
/practicas/Nueva Carpeta (2)/2ejercicio6/build/
/practicas/Nueva Carpeta (3)/2ejercicio7/nbproject/private/
/practicas/Nueva Carpeta (3)/2ejercicio7/build/
/tareas/Nueva Carpeta/meses/nbproject/private/
/tareas/Nueva Carpeta/meses/build/
/practicas/2ejercicio6/2ejercicio6/build/
/practicas/2ejercicio6/2ejercicio6/nbproject/private/
/practicas/2ejercico7/2ejercicio7/build/
/practicas/2ejercico7/2ejercicio7/nbproject/private/
/tareas/2tarea2/nbproject/private/
/tareas/2tarea2/build/
/tareas/2tarea3/nbproject/private/
/tareas/2tarea3/build/
/tareas/diameses/nbproject/private/
/tareas/diameses/build/
/tareas/2tarea4/nbproject/private/
/tareas/2tarea4/build/
/tareas/2tarea6/nbproject/private/
/tareas/2tarea6/build/